@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        margin: 0;
    }

    @font-face {
        font-family: 'PP Neue Montreal';
        font-style: normal;
        font-weight: 400;
        /* font-display: swap; */
        src: url(./assets/fonts/PPNeueMontreal-Book.otf);
    }

    @font-face {
        font-family: 'PP Neue Montreal Italic';
        font-style: italic;
        font-weight: 400;
        /* font-display: swap; */
        src: url(./assets/fonts/PPNeueMontreal-Italic.otf);
    }

    @font-face {
        font-family: 'Fraternite';
        font-style: normal;
        font-weight: 400;
        /* font-display: swap; */
        src: url(./assets/fonts/Fraternite.ttf);
    }

    ::-webkit-scrollbar {
        display: none;
    }
}
